@font-face {
  font-family: 'Pragmatica ExtraLight Reg';
  font-style: normal;
  font-weight: normal;
  src: local('Pragmatica ExtraLight Reg'), url('./fonts/Pragmatica-ExtraLight.woff') format('woff');
}

@font-face {
  font-family: 'SF Pro Display Reg';
  src: local('SF Pro Display Reg'), url('./fonts/SF-Pro-Display-Regular.woff') format('woff');
}

* {
  font-family: 'SF Pro Display Reg' !important;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
